 @import url('https://fonts.googleapis.com/css2?family=Spectral');
*{
    text-decoration: none;
    color: black;
    font-family: "Spectral", serif;
    font-style: normal;
    font-weight: normal;
}

body{
    background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
}

header{
    #indexheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 60px;
    background-color: #b1dbf6;
        #login {
            img {
                width: 60px;
            }
            text-align: center;
        }

        #gallery {
        text-align: center;
            img {
                box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.212);
                border-radius: 14px;
                width: 200px;
                height: 60px;
                object-fit: cover;
            }
        }
        #header_right_section{
            display: flex;
            flex-direction: row;

        }

        #header_left_section{
            #title_header{
                width: 550px;
                
            }
        } 
    }

}
main{
    #trip_gallery_title{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #title_small{
            font-weight: bold;
            font-size: 30px;
            margin: 0px;
            padding: 0px;
        }
        #title_big{
            font-weight: bold;
            font-size: 50px;
            margin: 0px;
            margin-top: -15px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        #trip_gallery_line{
            width: 33%;
            padding: 1px;
            margin: 10px;
            background-color: black;
        }
    }

    article.card {
    margin: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-items: stretch;
    gap: 30px;
        section.elem-card {
            border-radius: 14px;
            display: grid;
            grid-template-columns: 37.5% 1fr;
            background-color: #D9D9D9;
            border-width: 2px;
            border-color: rgb(37, 37, 37);
            border-style: dashed;
            img {
                border-radius: 14px;
                height: 100%;
                width: 90%;
                object-fit: cover;
                align-self: flex-start;
            }

            .card_title{
                font-weight: bold;
            }
            .card_text{
                font-style: italic;
            }
        }
        p.price {
            font-size: 40px;
            text-align: center;
        }
    }
}
footer{
    padding: 10px 0px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #aac8db;

    .footer_icon{
        width: 35px;
    }
    h2{
        font-weight: bold;
    }

    h3{
        font-style: italic;
    }
    a{
        font-style: italic;
    }

    section{
        margin: 10px 40px;
        padding: 10px;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10px;
        width: 100%;
        padding: 0px;

        li{
            margin: 10px;
        }
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .footer_line_x{
        width: 100%;
        padding: 1px;
        margin: 10px;
        background-color: black;
    }

    .footer_line_y{
        padding: 110px 1px;
        margin: 10px;
        background-color: black;
    }

    #footer_social{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #footer_info{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 50%;
    }

    #footer_title{
        width: 250px;
    }


}